body {
   font-family: GillSans;
 }

#container-movies {
  display: inline-block;
}
.title {
  color: #FFE300;
}
.inf-movie {
  list-style: none;
}

.inf-characters {
  color: #C18951;
}
.style-h6 {
  color: #7CB55E;
}
